<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Cohem</title>

    <meta name="keywords" content="Funko Pops" />
    <meta name="description" content="Cohem Games">
    <meta name="author" content="D-THEMES">

    <link rel="icon" type="image/png" href="/pruebas/favicon.ico">

    <link rel="preload" href="/views/fonts/cohem/MADETOMMY-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <script>
        WebFontConfig = {
            google: { families: ['Poppins:300,400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="/css/cohem.css">


    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/photoswipe/photoswipe.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/photoswipe/default-skin/default-skin.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/sticky-icon/stickyicon.css">


</head>

<body class="home">

    <div class="page-wrapper">
        <h1 class="d-none">Cohem Store</h1>


        <%- include('partials/header.html'); %>

            <!-- End Header -->

            <main class="main order">
                <div class="page-content pt-7 pb-10 mb-10">
                    <div class="container mt-8">
                        <div class="order-message mr-auto ml-auto">
                            <div class="icon-box d-inline-flex align-items-center">
                                <div class="icon-box-icon mb-0">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                                        enable-background="new 0 0 50 50" xml:space="preserve">
                                        <g>
                                            <path fill="none" stroke-width="3" stroke-linecap="round"
                                                stroke-linejoin="bevel" stroke-miterlimit="10" d="
                                                M33.3,3.9c-2.7-1.1-5.6-1.8-8.7-1.8c-12.3,0-22.4,10-22.4,22.4c0,12.3,10,22.4,22.4,22.4c12.3,0,22.4-10,22.4-22.4
                                                c0-0.7,0-1.4-0.1-2.1"></path>
                                            <polyline fill="none" stroke-width="4" stroke-linecap="round"
                                                stroke-linejoin="bevel" stroke-miterlimit="10" points="
                                                48,6.9 24.4,29.8 17.2,22.3 	"></polyline>
                                        </g>
                                    </svg>
                                </div>
                                <div class="icon-box-content text-left">
                                    <h5 class="icon-box-title font-weight-bold lh-1 mb-1">Gracias!</h5>
                                    <p class="lh-1 ls-m">Tu Orden fue recibida</p>
                                </div>
                            </div>
                        </div>


                        <div class="order-results">
                            <div class="overview-item">
                                <span>Nro Orden:</span>
                                <strong><%=nropedido%></strong>
                            </div>
                            <div class="overview-item">
                                <span>Estado:</span>
                                <strong>En Camino</strong>
                            </div>
                            <div class="overview-item">
                                <span>Fecha:</span>
                                <strong><%=fechapedido%></strong>
                            </div>
                            <div class="overview-item">
                                <span>Email:</span>
                                <strong><%=email%></strong>
                            </div>
                            <div class="overview-item">
                                <span>Total:</span>
                                <strong><%=montotal%></strong>
                            </div>
                            <!--<div class="overview-item">
                                <span>Payment method:</span>
                                <strong>Cash on delivery</strong>
                            </div>-->
                        </div>

                        <h2 class="title title-simple text-left pt-4 font-weight-bold text-uppercase">Order Details</h2>
                        <div class="order-details">
                            <table class="order-details-table">
                                <thead>
                                    <tr class="summary-subtotal">
                                        <td>
                                            <h3 class="summary-subtitle">Product</h3>
                                        </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-name">Beige knitted shoes <span> <i class="fas fa-times"></i>
                                                1</span></td>
                                        <td class="product-price">$84.00</td>
                                    </tr>
                                    <tr>
                                        <td class="product-name">Best dark blue pedestrian <span><i
                                                    class="fas fa-times"></i> 1</span></td>
                                        <td class="product-price">$76.00</td>
                                    </tr>
                                    <tr>
                                        <td class="product-name">Women's fashion handing <span><i
                                                    class="fas fa-times"></i>
                                                2</span></td>
                                        <td class="product-price">$152.00</td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>
                                            <h4 class="summary-subtitle">Subtotal:</h4>
                                        </td>
                                        <td class="summary-subtotal-price">$312.00</td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>
                                            <h4 class="summary-subtitle">Shipping:</h4>
                                        </td>
                                        <td class="summary-subtotal-price">Free shipping</td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>
                                            <h4 class="summary-subtitle">Payment method:</h4>
                                        </td>
                                        <td class="summary-subtotal-price">Cash on delivery</td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>
                                            <h4 class="summary-subtitle">Total:</h4>
                                        </td>
                                        <td>
                                            <p class="summary-total-price">$312.00</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="title title-simple text-left pt-10 mb-2">Direccion de Envio</h2>
                        <div class="address-info pb-8 mb-6">
                            <p class="address-detail pb-2">
                                <%=direccion%>
                            </p>
                            <p class="email"><%=email%></p>
                        </div>

                        <a href="shop.html" class="btn btn-icon-left btn-dark btn-back btn-rounded btn-md mb-4"><i
                                class="d-icon-arrow-left"></i> Back to List</a>
                    </div>
                </div>

            </main>


            <!-- End of Main -->
            <%- include('partials/footer.html'); %>
                <!-- End Footer -->
    </div>

    

    <!-- MobileMenu -->
    <%- include('partials/menumobile.html'); %>

        <!-- Plugins JS File -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/sticky/sticky.min.js"></script>
        <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
        <script src="/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
        <script src="/vendor/photoswipe/photoswipe.min.js"></script>
        <script src="/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
        <!-- Main JS File -->
        <script src="/js/main.js"></script>
        <script src="/js/conf.js"></script>
        <script src="/js/carrito.js"></script>
        
</body>

</html>